/******** Nav Bar *******/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #141414;
}

.mynavbar{
    display: flex;
    padding: 12px;
    position: fixed;
    width: 100%;
    height: 35px;
}

.trans{
    background-color: transparent;
    -webkit-transition: 2.0s;
    transition: 2.0s;
}

.colored {
    background-color: #141414;
    -webkit-transition: 2.0s;
    transition: 2.0s;
}

.logo{
    padding: 0 8px;
}
.left{
    padding: 12px 15px 0 0;
}

.search{
    margin-left: auto;
    padding-top: 5px;
   
}

input{
    display: block;
    margin: 0 0 0 auto;
    width: 50px;
    box-sizing: border-box;
    border: none;
    font-size: 1.2rem;
    background-color: #141414;;
    background-image: url('/images/icons/search-icon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}
input:focus{
    width: 270px;
    outline: none;
    border: 1px solid #ffffff;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/*links */

a{
    text-decoration: none;
    color: #e5e5e5; 
}


/********* Discover section ***********/

.row-title{
    color:white;
    padding-top: 100px;
}

.row-content{
    display: flex;
    color:white;
    overflow-x: auto; 

 

}
.row-content::-webkit-scrollbar{
    display: none;
}

/*give this better name later
for li elements 
*/
.row-imgs{
top: 50%;
}

#discover{
    padding-top: 60px;
}

.btn2{
    display: flex;
    

}

/*hover effect*/

li {
    transition: transform .2s;
    
}

li:hover{
    width: 350px;
    height: 350px;
    transform: scale(1.3);
    padding-top: 40px;
}
